
body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  background-color: #ffffff;
  color: #333333;
}

nav {
  background-color: #F1F1F1;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  gap: 2rem;
  z-index: 100;

}

nav img {
  height: 40px;
}

nav a {
color: #7BAFD4;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
}

.cta-button {
  background-color: #af1e2d;
  color: white;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 2rem;
}
